.dark-mode {
    background: black;
}

.light-mode {
    background: white;
}

.modal-btn {
    border: none;
    background: rgba(96,87,241,1);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.modal-btn:hover {
    background: rgb(132, 124, 243);
}
